<ul style="display-flex;flex-direction:column;line-height:5;padding-left:20px;">
  <li class="nav-item">
    <a class="navbar-brand" href="{{ path('app_home')}}">Emotion Caviar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('user_index')}}">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('caviar_product_index')}}">Caviars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('accessories_product_index')}}">Accessoires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('basket_product_index')}}">Paniers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_contact_index')}}">Contacts</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ path('code_promo_index')}}">Code promo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('stock_caviar_index')}}">Stock Caviar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
  </li>
</ul>

