{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<body data-turbo="false" class="page-color-style-1 page-style-1">
    <div class="preloader">
        <div class="sk-cube-grid selected">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    
    <header class="header header-style-1">
      <div class="navigation flex-align">   
         <a href="{{path('app_home')}}" class="logo">
            <img src="img/logo.png" alt="Logo Emotion Caviar" class="logo-type-1">
            <h1 class="text-logo">Emotion Caviar</h1>
         </a>
          <div class="burger-menu"><i></i></div>
           <div class="nav">
            <div class="nav-align-wrap">
            <div class="right-block">
           
                <div class="login-item">

                    {% if is_granted('ROLE_USER') %}
                         <a href="{{ path('app_logout')}}" class="open-popup-test" data-open="popup-login" data-rel="3">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login')}}" class="open-popup-test" data-open="popup-login" data-rel="3">S'identifier</a> / <a href="{{ path('app_register')}}" class="open-popup-test" data-open="popup-register" data-rel="4">S'enregistrer</a>
                    {% endif %}
                </div>
            </div>
            <nav>
                <ul class="header-menu">
                    <li class="active">
                        <a href="{{ path('app_home') }}">Home<img src="img/down-arrow.png" alt="" class="menu-arr"></a>
                    </li>
                    <li>
                        <a href="{{ path('app_about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ path('app_shop') }}">Shop<img src="img/down-arrow.png" alt="" class="menu-arr"></a>
                        <ul>
                            <li><a href="{{ path('app_shop_caviar')}}">Caviar</a></li>
                            <li><a href="{{ path('app_shop_baskets')}}">Paniers</a></li>
                            <li><a href="{{ path('app_shop_accessories')}}">Accessoires</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_recipes')}}">Recipes<img src="img/down-arrow.png" alt="arrow down" class="menu-arr"></a>
                    </li>
                    <li>
                        <a href="{{ path('app_products')}}">Products<img src="img/down-arrow.png" alt="arrow down" class="menu-arr"></a>
                        <ul>
                            <li><a href="{{ path('app_products_caviar')}}">Caviar</a></li>
                            <li><a href="{{ path('app_products_baskets')}}">Paniers</a></li>
                            <li><a href="{{ path('app_products_accessories')}}">Accessoires</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('app_contact')}}">Contact<img src="img/down-arrow.png" alt="arrow down" class="menu-arr"></a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a style="color:red;" href="{{ path('app_admin')}}">Admin<img src="img/down-arrow.png" alt="arrow down" class="menu-arr"></a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            </div>
           </div>    
        </div>
    </header> 
    
    <div class="main-content">
    
    <section class="full-height-slider">
       <div class="swiper-container full-h paralax-slider animation-3" data-mode="horizontal" data-autoplay="0" data-slides-per-view="1" data-loop="0" data-speed="1000" data-parallax="1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="parallax-bg bg" style="background-image: url(img/home-1/home1_slider_img_1.jpg)" data-swiper-parallax="50%"></div>
                   <div class="table-view mobile-rel-block">

                   	 <div class="table-cell">
                       <div class="container">

                        {% if message is defined %}
                            <div class="simple-text md simple-sub-text">
                                <p style="color:white;font-size:24px;">{{message}}</p>
                            </div>
                        {% endif %}
                          <div class="empty-lg-50 empty-md-50 empty-sm-0 empty-xs-0"></div>
                           <div class="simple-item text-center color-type-1 simple-item-style-1" data-swiper-parallax="30%" data-swiper-parallax-duration="1000">
 
                               <div class="first-div title h1 main-col">Bienvenue</div>
                               <div class="empty-sm-30 empty-xs-30"></div>
                                   <div class="wrap-padding">
                                       <h1 class="sub-title">Caviar de haute qualité</h1>
                                       <div class="empty-sm-20  empty-xs-20"></div>
                                           <div class="simple-text md simple-sub-text">
                                               <p>Notre collaboration étroite avec les plus grands maîtres saleurs et notre savoir-faire nous permettent de vous offrir une production d’un caviar réalisé en utilisant l’ancienne méthode de préparation traditionnelle Malossol (du russe : peu salé).</p>
                                           </div>
                                   </div>
                               <div class="empty-sm-45  empty-xs-45"></div>
                               <div class="button-wrap">
                                   <a href="#" class="page-button button-style-1"><span class="txt">En savoir plus</span></a>
                               </div>
                           </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="swiper-slide">
                    <div class="parallax-bg layer bg" style="background-image: url(img/home-1/section_home1_bg_1.jpg)" data-swiper-parallax="50%"></div>
                   <div class="table-view mobile-rel-block">
                   	 <div class="table-cell">
                       <div class="container">
                          <div class="empty-lg-50 empty-md-50 empty-sm-0 empty-xs-0"></div>
                           <div class="simple-item text-center color-type-1 simple-item-style-1" data-swiper-parallax="30%" data-swiper-parallax-duration="1000">
                               <div class="first-div title h1 main-col">Bienvenue</div>
                               <div class="empty-sm-30 empty-xs-30"></div>
                                   <div class="wrap-padding">
                                       <h1 class="sub-title">Caviar de haute qualité</h1>
                                       <div class="empty-sm-20  empty-xs-20"></div>
                                           <div class="simple-text md simple-sub-text">
                                               <p>Notre méthode traditionnelle nous assure la qualité la plus pure et la plus prisée. La déclinaison italienne du mets de luxe par définition suit la philosophie agricole écologiquement correcte de la filière courte.</p>
                                           </div>
                                   </div>
                               <div class="empty-sm-45  empty-xs-45"></div>
                               <div class="button-wrap">
                                   <a href="#" class="page-button button-style-1"><span class="txt">En savoir plus</span></a>
                               </div>
                           </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="swiper-slide">
                   <div class="parallax-bg bg" style="background-image: url(img/home-1/home1_slider_img_3.jpg)" data-swiper-parallax="50%"></div>
                   <div class="table-view mobile-rel-block">
                   	 <div class="table-cell">
                       <div class="container">
                          <div class="empty-lg-50 empty-md-50 empty-sm-0 empty-xs-0"></div>
                           <div class="simple-item text-center color-type-1 simple-item-style-1" data-swiper-parallax="30%" data-swiper-parallax-duration="1000">
                               <div class="first-div title h1 main-col">Bienvenue</div>
                               <div class="empty-sm-30 empty-xs-30"></div>
                                   <div class="wrap-padding">
                                       <h1 class="sub-title">Caviar de haute qualité</h1>
                                       <div class="empty-sm-20  empty-xs-20"></div>
                                           <div class="simple-text md simple-sub-text">
                                               <p>Nous voulons partager l’envie de cette émotion directement avec vous en provenance de notre ferme.</p>
                                           </div>
                                   </div>
                               <div class="empty-sm-45  empty-xs-45"></div>
                               <div class="button-wrap">
                                   <a href="#" class="page-button button-style-1"><span class="txt">En savoir plus</span></a>
                               </div>
                           </div>
                       </div>
                     </div>
                   </div>
                </div>
            </div>
           <div class="pagination swiper-pagination-2"></div>
        </div> 
    </section>
    
    <section class="section">
      <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div>    
        <div class="custome-container">
            <div class="row vertical-wrap item-animation scroll-type-1">
                <div class="col-md-3 col-sm-12 col-xs-12 md-hide">
                    <div class="simple-item-style-2 simple-item">
                      <span class="page-span-1 page-span"></span>
                      <span class="page-span-2 page-span type-2"></span>
                      <div style="background-image:url('img/presentation2.jpg');" class="resp-img"></div>
                    </div>
                    <div class="empty-lg-0 empty-md-0 empty-sm-60 empty-xs-40"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                   <div class="main-caption text-center item-padd-30">
                       <h2 class="h1 title main-col">A propos de nous</h2>
                       <div class="empty-sm-10 empty-xs-10"></div>
                       <div class="simple-text md simple-sub-text">
                           <p>Emotion Caviar est le caviar exclusif italien qui représente l’excellence en matière de caviar d’élevage 100 % Made in Italy (CE IT P7Z8P).</p>
                       </div>
                       <div class="empty-sm-35 empty-xs-25"></div>
                       <div class="simple-text">
                           <p>Alors que la pêche sauvage et non respectueuse de la survie des esturgeons réduisait de façon draconienne la population des esturgeons dans le monde, c’est au cœur de la Plaine du Pô que naquit cette Ferme à poissons ou encore Aqua culture dans un souci de la protection de l’espèce. Notre volonté et notre Philosophie nous inscrivent dans une politique 100% durable avec le respect de la convention CITES.</p>
                           <p>Ce site respectueux de l’environnement est situé dans la Province de Crémone (au cœur du Parc Naturel de la Rivière Tormo) et est baigné par une rivière résurgente, aux eaux toujours fraîches, limpides et cristallines, qui produit des esturgeons élevés dans un milieu naturel avec des aliments sans OGM issus d’une longue recherche basée sur nos années d’expérience.</p> 
                           <p>Cette situation permet de contrôler toute le cycle de production qui se déroule dans le respect total de l’écosystème naturel, grâce à l’utilisation de l’énergie propre produite par des panneaux photovoltaïques et avec une attention toute particulière à la qualité des matières premières utilisées.</p>
                           <div style="width:100%;display:flex;justify-content:center;align-items:center;flex-direction:column;">
                                <div style="width:277px;height:300px;background-image:url('img/certification.png');background-size:contain;background-position:center;"></div>
                                <p>Convention on International Trade in Endangered Species</p>
                           </div>
                       </div>
                       <div class="empty-sm-45 empty-xs-35"></div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 md-hide">
                    <div class="simple-item-style-2 simple-item">
                      <span class="page-span-1 page-span type-2"></span>
                      <span class="page-span-2 page-span"></span>
                      <div style="background-image:url('img/presentation3.jpeg');" class="resp-img"></div>
                    </div>
                </div>
            </div>
        </div>
      <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div>     
    </section>
    
    <section style="height:1000px;" class="section">
     <div class="empty-lg-170 empty-md-70 empty-sm-50 empty-xs-20"></div>
      <div class="bg layer ready data-jarallax" data-jarallax="5" style="background-image: url(img/header5.jpg)"></div>
       <div class="container item-animation scroll-type-1">
         <div class="simple-item text-center color-type-1 simple-item-style-1">
           <div class="first-div sub-title">Recettes</div>
           <div class="empty-sm-20 empty-xs-20"></div>
               <div class="wrap-padding">
                    <h2 class="title main-col h1">Embellissez votre quotidien</h2>
                    <div class="empty-sm-10 empty-xs-10"></div>
                    <div class="simple-text md simple-sub-text">
                        <p>Laissez-vous tenter par nos nombreuses recettes élaborées autour du caviar.</p>
                    </div>
               </div>
               <div class="empty-sm-40  empty-xs-40"></div>
               <div class="button-wrap">
                   <a href="{{ path('app_recipes')}}" class="page-button button-style-1"><span class="txt">Nos recettes</span></a>
               </div>
         </div>  
       </div>
     <div class="empty-lg-200 empty-md-100 empty-sm-90 empty-xs-60"></div>   
    </section>
    
    {% if caviars is defined %}

    <section data-controller="homeCaviars" class="section">
      <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div> 
         <div class="container">
             <div class="row item-animation scroll-type-1">
                 <div class="col-md-6 col-md-offset-3">
                     <div class="main-caption text-center">
                       <h2 class="h1 title main-col">Nos Produits</h2>
                       <div class="empty-sm-10 empty-xs-10"></div>
                       <div class="simple-text md simple-sub-text">
                           <p>Notre sélection de produits</p>
                       </div>
                       <div class="empty-lg-70 empty-md-60 empty-sm-60 empty-xs-40"></div>
                    </div>    
                 </div>
             </div>
         </div>
         <div class="custome-container">
             <div class="row item-animation scroll-type-1">

                {% for caviar in caviars %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="menu-item menu-item-1">
                        <div class="image">
                            <span class="page-span-1 page-span"></span>
                            <span class="page-span-2 page-span type-2"></span>
                            <img src="uploads/images/caviars/{{caviar.image}}" alt="{{caviar.name}}">
                            <div class="vertical-align full menu-button">
                                <a href="{{ path('app_products_caviar')}}" class="page-button button-style-1"><span class="txt">Voir plus</span></a>
                            </div>
                        </div>
                        <div class="text">
                            <div class="empty-sm-20 empty-xs-20"></div>
                            <h4 class="h4 caption"><a href="#" class="link-hover-line">{{caviar.name}}</a></h4>
                            <div class="empty-sm-10 empty-xs-10"></div>
                            <div class="cat">{{caviar.subtitle}}</div>
                        </div>
                        </div>
                        <div class="empty-sm-30 empty-xs-30"></div> 
                    </div>
                {% endfor %}
   
               <div class="text-center">
                  <div class="empty-sm-20 empty-xs-20"></div>
                   <a href="{{ path('app_products_caviar')}}" class="page-button button-style-2"><span class="bg" style="background-image: url(img/home-1/button_img_1.jpg)"></span><span class="txt">Détails</span></a>
               </div>
             </div>
         </div>
      <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div>
    </section>

    {% endif %}

    <section class="section">
     <div class="empty-lg-170 empty-md-70 empty-sm-50 empty-xs-20"></div>
      <div class="bg layer ready data-jarallax" data-jarallax="5" style="background-image: url(img/about_fete.jpeg)"></div>
       <div class="container item-animation scroll-type-1">
         <div class="simple-item text-center color-type-1 simple-item-style-1">
           <div class="first-div sub-title">Un moment de plaisir</div>
           <div class="empty-sm-20 empty-xs-20"></div>
               <div class="wrap-padding">
                   <h2 class="title main-col h1">Le caviar reste un produit fort apprécié lors des grands moments.</h2>
                   <div class="empty-sm-10 empty-xs-10"></div>
                       <div class="simple-text md simple-sub-text">
                           <p>Il est un ingrédient à mettre dans sa liste pour que la fête rime avec réussite.</p>
                       </div>
               </div>
               <div class="empty-sm-40  empty-xs-40"></div>
               <div class="button-wrap">
                   <a href="{{ path('app_products')}}" class="page-button button-style-1"><span class="txt">Voir nos produits</span></a>
               </div>
         </div>  
       </div>
     <div class="empty-lg-200 empty-md-100 empty-sm-90 empty-xs-60"></div>   
    </section>
    
    <!--
    <section class="section">
        <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div> 
            <div class="custome-container">
                <div class="row vertical-wrap item-animation scroll-type-1">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="main-caption text-center item-padd-30">
                           <h2 class="h1 title main-col">We do it well</h2>
                           <div class="empty-sm-10 empty-xs-10"></div>
                           <div class="simple-text md simple-sub-text">
                               <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem ab illo accusantium doloremque laudantium, rem aperiamquae</p>
                           </div>
                           <div class="empty-sm-35 empty-xs-35"></div>
                           <div class="simple-text">
                               <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, ab illo totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem oloremque laudantium.</p>
                           </div>
                           <div class="empty-sm-45  empty-xs-45"></div>
                           <a href="#" class="page-button button-style-2"><span class="bg" style="background-image: url(img/home-1/button_img_2.jpg)"></span><span class="txt">our menu</span></a>
                        </div>
                        <div class="empty-lg-0 empty-md-0 empty-sm-60 empty-xs-60"></div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                       <div class="row">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="simple-item-style-2 simple-item">
                              <span class="page-span-3 page-span"></span>
                              <img src="img/home-1/about_home_1_img_3.jpg" alt="" class="resp-img">
                            </div>
                            <div class="empty-sm-30 empty-xs-30"></div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="simple-item-style-2 simple-item">
                              <span class="page-span-1 page-span type-2"></span>
                              <img src="img/home-1/about_home_1_img_4.jpg" alt="" class="resp-img">
                            </div>
                            <div class="empty-sm-30 empty-xs-30"></div>
                          </div>  
                       </div>
                       <div class="simple-item-style-2 simple-item">
                          <span class="page-span-4 page-span"></span>
                          <span class="page-span-2 page-span type-2"></span>
                          <img src="img/home-1/about_home_1_img_5.jpg" alt="" class="resp-img">
                        </div>
                    </div>
                </div>
            </div>   
        <div class="empty-lg-140 empty-md-100 empty-sm-90 empty-xs-60"></div> 
    </section>
    -->

    </div>
  
        <footer class="footer footer-style-1 type-2 page-style-6">
            <div class="empty-sm-60 empty-xs-40"></div>   
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="footer-item">
                            <img src="img/logo.png" alt="logo">

                            <div class="empty-sm-20 empty-xs-20"></div>
                            <ul class="list-style-2 ul-list">
                                <li><span>Nom de société : </span>EMOTION CAVIAR</li>
                                <li><span>Forme Juridique : </span>S.A.</li>
                                <li><span>Address: </span>30 an der Gaass L-9638 Pommerloch</li>
                                <li><span>TVA : </span> LU26601179</li>
                                <li><span>Autorisation : </span>N° 10044781/1</li>
                                <li><span>RCS : </span>B183399</li>
                            </ul>
                            <div class="empty-sm-30 empty-xs-30"></div>
                            <div class="follow follow-style-2 sm">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve" width="16px" height="16px"><g>
                                            <path id="f_1_" d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184   c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452   v20.341H37.29v27.585h23.814v70.761H89.584z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                        </svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve" width="16px" height="16px">
                                        <g id="XMLID_826_">
                                            <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73   c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783   c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598   C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467   c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977   c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889   c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597   c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961   c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895   c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367   c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998   C307.394,57.037,305.009,56.486,302.973,57.388z" fill="#FFFFFF"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </a>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 604.35 604.35" style="enable-background:new 0 0 604.35 604.35;" xml:space="preserve">
                                            <g><g id="google-plus"><path d="M516.375,255v-76.5h-51V255h-76.5v51h76.5v76.5h51V306h76.5v-51H516.375z M320.025,341.7l-28.051-20.4    c-10.2-7.649-20.399-17.85-20.399-35.7s12.75-33.15,25.5-40.8c33.15-25.5,66.3-53.55,66.3-109.65c0-53.55-33.15-84.15-51-99.45    h43.35l30.6-35.7h-158.1c-112.2,0-168.3,71.4-168.3,147.9c0,58.65,45.9,122.4,127.5,122.4h20.4c-2.55,7.65-10.2,20.4-10.2,33.15    c0,25.5,10.2,35.7,22.95,51c-35.7,2.55-102,10.2-150.45,40.8c-45.9,28.05-58.65,66.3-58.65,94.35    c0,58.65,53.55,114.75,168.3,114.75c137.7,0,204.001-76.5,204.001-150.449C383.775,400.35,355.725,372.3,320.025,341.7z     M126.225,109.65c0-56.1,33.15-81.6,68.85-81.6c66.3,0,102,89.25,102,140.25c0,66.3-53.55,79.05-73.95,79.05    C159.375,247.35,126.225,168.3,126.225,109.65z M218.024,568.65c-84.15,0-137.7-38.25-137.7-94.351c0-56.1,51-73.95,66.3-81.6    c33.15-10.2,76.5-12.75,84.15-12.75s12.75,0,17.85,0c61.2,43.35,86.7,61.2,86.7,102C335.324,530.4,286.875,568.65,218.024,568.65z    " fill="#FFFFFF"></path>
                                            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                        </svg>
                                    </a>
                            </div>
                            <div class="empty-sm-30 empty-xs-30"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="footer-item">  
                        <h5 class="h5">quick links</h5>
                            <div class="empty-sm-15 empty-xs-15"></div>
                                <ul class="list-style-3 ul-list">
                                    <li><a href="{{ path('app_home')}}" class="link-hover">HOME</a></li>
                                    <li><a href="{{ path('app_about')}}" class="link-hover">ABOUT</a></li>
                                    <li><a href="{{ path('app_shop')}}" class="link-hover">SHOP</a></li>
                                    <li><a href="{{ path('app_recipes')}}" class="link-hover">RECIPES</a></li>
                                    <li><a href="{{ path('app_contact')}}" class="link-hover">CONTACT</a></li>
                                </ul>
                            <div class="empty-sm-30 empty-xs-30"></div>
                        </div> 
                    </div>
                </div>
                <div class="empty-sm-10 empty-xs-10"></div>
            </div>
            <div class="copyright text-center">
                <div class="empty-sm-20 empty-xs-20"></div>
                <div class="container">
                    <span>© 2021 All Rights Reserved. Development by <a href="#">Emotion Caviar</a></span>
                </div>
                <div class="empty-sm-20 empty-xs-20"></div> 
            </div>
        </footer>
</body>

{% endblock %}
