{% extends 'baseAdmin.html.twig' %}

{% block title %}CaviarProduct{% endblock %}

{% block body %}

<div class="my-3 p-3 bg-body rounded shadow-sm">

    <h6 class="border-bottom pb-2 mb-0">CaviarProduct show</h6>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ caviar_product.name }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ caviar_product.subtitle }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><div style="background-image:url({{ asset('uploads/images/caviars/' ~ caviar_product.image) }});width:100px;height:100px;background-size:cover;background-repeat:no-repeat;"></div></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ caviar_product.description }}</td>
            </tr>
            <tr>
                <th>Diameter</th>
                <td>{{ caviar_product.diameter }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ caviar_product.color }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ caviar_product.price|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

</div>

<a href="{{ path('caviar_product_index') }}">back to list</a>

<a href="{{ path('caviar_product_edit', {'id': caviar_product.id}) }}">edit</a>

{{ include('caviar_product/_delete_form.html.twig') }}
{% endblock %}
