{% extends 'baseAdmin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <h6 class="border-bottom pb-2 mb-0">Contact</h6>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ contact.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ contact.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ contact.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{ contact.subject }}</td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>{{ contact.message }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <a href="{{ path('app_contact_index') }}">back to list</a>

    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
