{% extends 'baseAdmin.html.twig' %}

{% block title %}BasketProduct{% endblock %}

{% block body %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <h6 class="border-bottom pb-2 mb-0">BasketProduct</h6>

        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ basket_product.name }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><div style="background-image:url({{ asset('uploads/images/baskets/' ~ basket_product.image) }});width:100px;height:100px;background-size:cover;background-repeat:no-repeat;"></div></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ basket_product.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ basket_product.price|number_format(2, ',', '.') }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <a href="{{ path('basket_product_index') }}">back to list</a>

    <a href="{{ path('basket_product_edit', {'id': basket_product.id}) }}">edit</a>

    {{ include('basket_product/_delete_form.html.twig') }}
{% endblock %}
